<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body><div class="container">
<h2>Login</h2>
<table>
        <tr><td>
<form method="POST">
Email:</td><td>
<input type="email" name="email" required><br>
</td></tr><tr><td>
Password:</td><td>
<input type="password" name="password" required><br></table>
<button type="submit">Login</button>
</form>
<a href="/"><button>No Account? Click here to Register</button></a>
</div>
</body>
</html>
